extends include/layout.pug

block title
    title editor

block style
    link(rel="stylesheet", href="./css/editor.css")

block headScripts
    include include/resize.pug

block body
    header 编辑工具介绍
    article
        section.brightness
            h3 亮度及反差
            ul
                li 曝光 - 整体调整照片的亮度，用来处理拍照时曝光过度或欠曝的情况
                li 对比度 - 调整照片明暗反差，适度调整可以让照片看起来更明晰
                li 高光 - 重点调整照片中高亮区域的亮度（区别于“曝光”的整体调整），通常用来压暗场景中过亮的高光区域
                li 阴影 - 重点调整照片中暗部的亮度（区别于”曝光”的整体调整），通常用来提亮场景中过黑的暗部区域
        section.brilliance
            h3 色彩鲜艳度
            ul 
                li 饱和度 - 整体调整画面的色彩鲜艳度
        section.picture
            h3 画面细节
            ul 
                li 锐化 - 让画面里物体的细节轮廓更锐利
        section.color
            h3 偏色纠正
            ul
                li 色温 - 处理因拍照时色温不准造成的简单偏色问题（偏蓝或偏黄），也可以用来给照片整体加偏色。如果偏色问题比较复杂，需要配合色彩平衡工具使用
                li 色调 - 在照片色温调整正确的基础上，用来纠正残余的偏色问题，也可以用来给照片整体加偏色。如果偏色问题比较复杂，需要配合色彩平衡工具使用
//- block footScripts
//-     script(src="./js/editor.js")