extends include/layout.pug

block title
    title editor

block style
    link(rel="stylesheet", href="./css/index.css")

block headScripts
    include include/resize.pug

block body
    header
        h2 This is for sample page, which is inline model

    article
        section
            h3 Begin it
            p This is content you look

block footScripts
    script(src="./js/index.js")