extends include/layout.pug

block title
    title editor

block style
    link(rel="stylesheet", href="./css/index.css")

block headScripts
    include include/resize.pug

block body
    #wrapper
        h2 Hello

block footScripts
    script(src="./js/index.js")