extends include/layout.pug

block title
    title editor

block style
    link(rel="stylesheet", href="./css/tailoring.css")

block headScripts
    include include/resize.pug

block body
    header
        h2 裁剪功能介绍 
        p 裁剪是摄影后期处理一个必不可少的工具。Light作为一款专业的照片编辑工具，提供裁剪功能用以二次构图，使照片后期效果大幅度提升。
        p 我们提供了不同尺寸的裁剪，既有固定尺寸，也有自由裁剪，多种方式搭配达到最佳构图效果。
        img(src="./img/1.jpg", alt="",)

    article
        section
            h3 裁剪功能的应用
            p 当我们拍摄一些风景或者自拍的时候，随拍摄时俯仰角度的不同，这些照片的构图往往没有预期中如意，这时候就需要后期的裁剪来完成。
            p 此外，单反相机的图片长宽比通常为3:2，卡片相机、手机的图片长宽比通常为4:3。现代手机屏幕的长宽比通常为16:9。这些尺寸也往往无法满足不同照片应用场景的需求，比如使用自拍作为头像，发布朋友圈状态。
        section.brightness
            h3 我们来看看如何去应用裁剪功能，制作一张完美的头像。
            p 首先选择一张原始图片。
            img.firstImg(src="./img/2.jpg", alt="")
            p 进入编辑工具，选择裁剪功能，我们可以不选择裁剪模板，直接使用默认自由裁剪功能。1:1模板，点击模板中任意一处进行移动，可以将照片裁剪成1:1比例。
            img.lastImg(src="./img/3.jpg", alt="")
            p 必要时可拖动四角任意圆点进行等比缩放裁剪，达到理想效果。

//- block footScripts
//-     script(src="./js/tailoring.js")