doctype html
html(lan="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        block title
            title Default title
        block style
        block headScripts
    body
        #wrapper
            block body
    block footScripts
